<div class="contenedor-principal" fxLayout="column">

  <mat-card style="padding: 10px; min-height: 70vh;">

    <mat-card-header>
      <mat-card-title>Seleccione una especialidad</mat-card-title>
    </mat-card-header>

    <br>

    <mat-card-content>

      <div>

        <div fxLayout="row" fxLayoutGap="7%">

          <div fxFlex="50">
            <mat-form-field style="width: 100%;" class="txtBuscador" appearance="outline">
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa el texto que queres buscar..." #input>
            </mat-form-field>
          </div>


          <div fxFlex="40%" fxFlexAlign="start end">
            <section class="fieldset">
              <h1>Buscar por...</h1>
              <mat-radio-group fxLayout="row" fxLayoutGap="10%" (change)="cambiarDataSource($event)" aria-label="Select an option">
                <mat-radio-button checked fxFlex="40%" value="Especialidades">Especialidad</mat-radio-button>
                <mat-radio-button fxFlex="40%" value="Profesional">Profesional</mat-radio-button>
              </mat-radio-group>
            </section>
          </div>



        </div>


        <div class="mat-elevation-z8 table-container">


          <mat-table #table [dataSource]="dataSource" matSort>
  
            <ng-container matColumnDef="displayName" color="primary">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Profesionales </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.displayName}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="especialidades">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidades </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{this.formatearArray(row.especialidades)}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="nombreEspecialidad">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidades </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.nombreEspecialidad}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="seleccionar">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Seleccionar</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-icon-button class="boton-ver-encuesta" (click)="this.seleccionarFila(row)">
                  <mat-icon class="mat-18">check</mat-icon>
                </button>
              </mat-cell>
            </ng-container>  
    
    
            <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    
          </mat-table>
          <mat-paginator class="mat-paginator-sticky" #paginator [pageSize]="50" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>






        </div>


      </div>



    </mat-card-content>
  </mat-card>


</div>