table {
  width: 100%;
}

.table-container {
  max-height: calc(70vh - 155px); // or height: calc(100vh - 155px); depending on your need  change
  overflow: auto;
}

// Lleva seleccionar hacia a la derecha
.mat-column-seleccionar {
  text-align: right;
  justify-content: center;
}

  .fieldset {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 8px 15px 10px;
    width: 100%;
  }
  
  .fieldset h1 {
    position: absolute;
    top: 0;
    font-size: 12px;
    line-height: 1;
    margin: -9px 0 0; /* half of font-size */
    background: #fff;
    padding: 0 3px;
    opacity: 	0.8;
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }