  
  .txtBuscador {
    font-size: 14px;
    width: 100%;
  }

  .btn-nuevo-usuario-admin {
    margin-bottom: 1.4em;
  }

  .alinear-centro {
    display:flex !important;
    justify-content: center !important;
  }
  
  .mat-table{
      background-color: rgba(255, 255, 255, 0.959);
      height : 50vh;
      overflow: auto;   
      width: 100%;
  }
  .mat-header-cell, .mat-cell {
      min-width: 250px;
  }

  .mat-form-field-underline{
      background-color:transparent;
  }

  .mat-header-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    background-color: #585191 ;
    // border-style: solid;
    color: white !important;
}

.mat-row:hover {
  background-color: #e8f5e9;
}



// .mat-column-especialidad{
//   flex: 0 0 250px;
// }

// .mat-column-email{
//   flex: 0 0 250px;
// }

// .mat-column-estado{
//   flex: 0 0 300px;
// }

// .mat-column-verHorarios{
//   flex: 0 0 250px;
  
// }

.centrar-celda {
  display:flex;
  justify-content: center;
 }



 
