<div class="example-container mat-elevation-z8 table-responsive" fxLayout="column">

  <mat-card>
    <mat-card-content>


      <!-- #region Buscador simple -->

      <div fxLayout="row" fxLayoutGap="5%">



        <mat-form-field class="txtBuscador" appearance="outline" fxFlexAlign="center">
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa el texto que queres buscar..." #input>
        </mat-form-field>


        <div fxFlexAlign="center" *ngIf="tipoFiltro == Rol.Administrador">
          <button type="button" class="btn-nuevo-usuario-admin" mat-raised-button color="primary"
            (click)="nuevoUsuarioAdmin()">
            <mat-icon class="icono-boton">person_add</mat-icon>Nuevo usuario administrador...
          </button>
        </div>

      </div>


      <!-- #endregion -->


      <!-- #region Tabla -->


      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="fechaAlta">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de alta </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.fechaAlta?.toDate() | date:'dd/MM/yyyy' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="displayName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.displayName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email" color="primary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{usuario.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="especialidad">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Especialidades </mat-header-cell>
          <mat-cell *matCellDef="let usuario"> {{this.formatearArray(usuario.especialidades)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="horarios">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="centrar-celda"> Ver Horarios </mat-header-cell>
          <mat-cell *matCellDef="let usuario" class="centrar-celda">
            <button mat-stroked-button color="primary" (click)="verHorarios(usuario.idUsuario)">
              <mat-icon class="icono-boton">access_time</mat-icon>VER HORARIOS...
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="centrar-celda"> Estado </mat-header-cell>
          <mat-cell *matCellDef="let usuario" class="centrar-celda"><span style="display: inline-block; width: 90px;"
              [appEstadoUsuario]="usuario.estado">{{usuario.estado}}</span>

            <button mat-stroked-button color="accent" style="margin-left: 2em;" (click)="cambiarEstado(usuario)">
              <mat-icon class="icono-boton">published_with_changes</mat-icon>CAMBIAR ESTADO...
            </button>

          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>



      <!-- #endregion -->

    </mat-card-content>

  </mat-card>

  
</div>