<div fxLayout="row">
    <mat-card fxFlex="100%" class="container">
        
        <div fxLayout="row">
            <mat-label class="encabezado" fxFlex="20%">Usuario</mat-label>
            <mat-label class="encabezado" fxFlex="20%">DNI</mat-label>
        </div>

        <div fxLayout="row">
            <mat-label class="fila" fxFlex="20%">{{usuario?.displayName  || "Tu perfil esta incompleto"}}</mat-label>
            <mat-label class="fila" fxFlex="20%">{{usuario?.dni || "Tu perfil esta incompleto"}}</mat-label>
        </div>

    </mat-card>
</div>
