
  mat-table {
    width: 100%;
  }

  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  // .mat-form-field {
  //   font-size: 14px;
  //   width: 100%;
  // }

  .sin-datos {
    font-size: 16px;
    text-align: center;
    color:#8BC34A;
  }

  .icono {
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    color:#8BC34A;
    // left: 10px;
  }

  .filtros-fecha {
    button {
      height:100%; 
      padding: 5px; 
      margin-bottom: 15px;
    }
  }


  .icono-boton {
    padding: 8px;
  }

  mat-card {
    min-height: 60vh;
  }

  
  .txtBuscador {
    width: 50%;
  }

  .btn-filtrar {
    padding: 6px; 
    margin-top:5px;
  }

  .btn-cerrar-filtros {
    color: indigo
  }

  