<mat-card class="contenedor-principal" fxLayout="column">

  <div class="parametros-busqueda" fxLayout fxLayoutAlign="center" fxLayoutGap="100px">

    <div>
      <button mat-raised-button color="primary" (click)="nuevaEspecialidad()">
        <mat-icon>local_hospital</mat-icon>
        <span class="texto-boton">Nueva Especialidad</span>
      </button>
    </div>
    
    <div >
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Otorrinolaringólogue" #input>
      </mat-form-field>
    </div>




  </div>

  
  <div class="tabla" fxLayout fxLayoutAlign="center">



    <div class="mat-elevation-z8" fxFlex=50>

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="nombreEspecialidad">
        <th mat-header-cell *matHeaderCellDef>Espacialidad</th>
        <td mat-cell *matCellDef="let element"> {{element.nombreEspecialidad}} </td>
      </ng-container>

      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef>Modificar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="modificarEspecialidad(element)">
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element" class="w-75">
          <button mat-icon-button color="accent" (click)="eliminarEspecialidad(element)">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn">
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->      
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="4">No hay datos disponibles</td>

        <!-- <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> -->
      </tr>

      
    </table>
    
    
  </div>
  
  
</div>




</mat-card>