// .contenedor-principal {
//     height: 400px;
//     // width: 100%;
//     overflow-x: auto;
//     white-space: nowrap;
// //     overflow-x:scroll;
// // white-space: nowrap;
//   }
  
  // table {
  //   width: 100%;
  //   overflow-x: auto;
  //   white-space: nowrap;
  // }

  // .contenedor-principal2 {
  //   height: 400px;
  //   width: auto !important;
  //   overflow-x: auto !important;
  //   white-space: nowrap !important;
  // }

//   .mat-row, .mat-header-row {  
//     min-width: 2800px;  
//     width: 100%;  
//  }  

  // .example-tab-icon {
  //   margin-right: 8px;
  //   font-weight: bold;
  // }

  .turno-cancelado {
    color: #F44336;
    font-weight: bold;
  }

  .turno-confirmado {
    color: #3BAF55;
    font-weight: bold;
  }

  .turno-pendiente-confirmacion {
    color: #FFC925;
    font-weight: bold;
  }

  .turno-finalizado {
    color: #17A2B8;
    font-weight: bold;
  }

  .turno-atendiendo {
    color: #007BFF;
    font-weight: bold;
  }

  .turno-suspendido {
    color: #8E959B;
    font-weight: bold;
  }


  
  // th.mat-sort-header-sorted {
  //   color: black;
  // }

  
  .txtBuscador {
    font-size: 14px;
    width: 100%;
  }

  .alinear-centro {
    display:flex !important;
    justify-content: center !important;
  }
  
  // .sucess {
  //   color:#8BC34A;
  // }

  // .boton-atender {
  //  color: #007BFF; 
  // }

  // .sin-datos {
  //   font-size: 16px;
  //   text-align: center;
  //   color:#8BC34A;
  // }

  // .icono {
  //   position: relative;
  //   /* Adjust these values accordingly */
  //   top: 5px;
  //   color:#8BC34A;
  //   // left: 10px;
  // }

  // .boton-ver-encuesta {
  //   color: darkmagenta
  // }

  


  // .example-container {
  //   display: flex;
  //   flex-direction: column;
  //   max-height: 500px;
  // }
  // .container{
  //     // background-color: white;
  //     border: 1.5px solid black;
  //     border-radius: 10px;
  //     text-align: center;
  // }

  // .mat-table {
  //   overflow: auto;
  //   // max-height: 500px;
  // }
  // .container{
  //     background-color: white;
  //     border: 1.5px solid black;
  //     border-radius: 10px;
  //     text-align: center;
  // }
  .mat-table{
      background-color: rgba(255, 255, 255, 0.959);
      height : 50vh;
      overflow: auto;   
      width: 100%;
  }
  .mat-header-cell, .mat-cell {
      min-width: 150px;
  }

  .mat-form-field-underline{
      background-color:transparent;
  }

  .mat-header-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    background-color: #585191 ;
    // border-style: solid;
    color: white !important;
}

.mat-row:hover {
  background-color: #e8f5e9;
}
  
  // .mat-form-field-flex{
  //     font-size: 14px;
  //     line-height: 1em;
  //     color: #555;
  //     background-image: none;
  //     border: 1px solid #ccc;
  //     border-radius: 4px;
  //     margin-top: 8px;
  //     padding: 2px;
  // }
  // .mat-form-field-wrapper{
  //     padding-bottom: 1.25em;
  //     padding-top: 1.25em;
  // }
  // .mat-form-field-infix{
  //     border:0px;
  // }
  // .mat-paginator{
  //     background-color: white;
  // }

//   .mat-row:nth-child(even){
//     background-color: #e8f5e9;
// }

// .mat-row:nth-child(odd){
//     background-color:#ffffff;
// }

//   .mat-row:nth-child(even){
//     background-color: #e8f5e9;
// }