



a {
    color: #fff;
    text-decoration: none;
}



.fill-remaining-space {
    flex: 1 1 auto;
}


.nombre-usuario {
    margin-right: 1em;
}

img {
    object-fit: cover;
    border-radius:50%;
    width: 30px;
    height: 30px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }


  .active {
    color: wheat;
}