<mat-toolbar color="primary">

    
        <img class="img-logo" src="../../../../../assets/fra2.png">
        <a class="logo">AUTOGESTIÓN</a>
    


    <div fxLayout="row" fxLayoutAlign="center center">
        <a routerLink="/gestion-usuarios" routerLinkActive="active"
        *ngIf="(auth.datosUsuario | async) && (datosUsuarioActual?.rol == Roles.Administrador)"><button
            mat-button>GESTIÓN DE USUARIOS</button></a>

    <a routerLink="/mis-turnos" routerLinkActive="active"
        *ngIf="(auth.datosUsuario | async) && (datosUsuarioActual?.rol == Roles.Paciente)"><button mat-button>MIS
            TURNOS</button></a>

    <a routerLink="/solicitar-turno" routerLinkActive="active"
        *ngIf="(auth.datosUsuario | async) && (datosUsuarioActual?.rol == Roles.Paciente)"><button mat-button>SOLICITAR
            TURNOS</button></a>

    <a routerLink="/especialidades" routerLinkActive="active"
        *ngIf="(auth.datosUsuario | async ) && (datosUsuarioActual?.rol == Roles.Administrador)"><button
            mat-button>ESPECIALIDADES</button></a>

    <a routerLink="/gestion-turnos" routerLinkActive="active"
        *ngIf="(auth.datosUsuario | async) && (datosUsuarioActual?.rol == Roles.Profesional)"><button mat-button>{{'GESTIÓN DE TURNOS' | translate}}</button></a>

    <a routerLink="/busquedas" routerLinkActive="active"
        *ngIf="(auth.datosUsuario | async ) && (datosUsuarioActual?.rol == Roles.Administrador || datosUsuarioActual?.rol == Roles.Profesional)"><button
            mat-button>BÚSQUEDAS</button></a>

    <a routerLinkActive="active"
        *ngIf="(auth.datosUsuario | async ) && (datosUsuarioActual?.rol == Roles.Administrador || datosUsuarioActual?.rol == Roles.Profesional)"><button
            mat-button [matMenuTriggerFor]="menuInformes">INFORMES</button></a>

    <mat-menu #menuInformes="matMenu">
        <button mat-menu-item routerLink="/informe-inicio-sesion">Inicios de sesión</button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/informe-operaciones-por-especialidad">Operaciones por especialidad</button>
        <button mat-menu-item routerLink="/informe-turnos-por-dia-semana">Turnos por dia de la semana</button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/informe-profesionales-por-turnos">Profesionales por turnos</button>
        <button mat-menu-item routerLink="/informe-profesionales-por-dias-trabajados">Profesionales por días trabajados</button>
        <button mat-menu-item routerLink="/informe-profesionales-por-especialidad">Profesionales por especialidad</button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/informe-pacientes-por-especialidad">Pacientes por especialidad</button>
        <button mat-menu-item routerLink="/informe-turnos-por-paciente">Turnos por pacientes</button>
        <button mat-menu-item routerLink="/informe-detalle-respuestas-encuestas">Respuestas de encuestas</button>
    </mat-menu>

    </div>




    <span class="fill-remaining-space"></span>

    <a routerLink="/registro-pacientes" routerLinkActive="active" *ngIf="!this.datosUsuarioActual"><button
            mat-button>Registrarse</button></a>

    <a routerLink="/registro-profesionales" routerLinkActive="active" *ngIf="!this.datosUsuarioActual"><button
            mat-button>¿Sos profesional?</button></a>

    <a routerLink="/login" routerLinkActive="active" *ngIf="!this.datosUsuarioActual"><button
            mat-button>Login</button></a>


    <a *ngIf="this.datosUsuarioActual">
        <button mat-button [matMenuTriggerFor]="menu">
            <span class="nombre-usuario">{{this.datosUsuarioActual.displayName }}</span>
            <mat-icon *ngIf="!datosUsuarioActual?.imagen1">account_circle</mat-icon>
            <img class="img-avatar" *ngIf="datosUsuarioActual?.imagen1" [src]="datosUsuarioActual?.imagen1" />
        </button>
    </a>



    <mat-menu #menu="matMenu">

        <button mat-menu-item>
            <mat-icon>fact_check</mat-icon>
            <span>Mi perfil</span>
        </button>

        <button mat-menu-item (click)="onLogOut()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menuIdiomas"><mat-icon [svgIcon]="this.idiomaSeleccionado"></mat-icon></button>
        <mat-menu #menuIdiomas="matMenu">
          <button mat-menu-item (click)="cambiarIdioma('en')" *ngIf="idiomaSeleccionado != 'en'"><mat-icon svgIcon="en"></mat-icon>English</button>
          <button mat-menu-item (click)="cambiarIdioma('br')" *ngIf="idiomaSeleccionado != 'br'"><mat-icon svgIcon="br"></mat-icon>Português</button>
          <button mat-menu-item (click)="cambiarIdioma('ar')" *ngIf="idiomaSeleccionado != 'ar'"><mat-icon svgIcon="ar"></mat-icon>Español</button>
        </mat-menu>


    <!-- <a mat-icon-button routerLink="active"><mat-icon *ngIf="!avatar">account_circle</mat-icon><img *ngIf="avatar" [src]="avatar"/><span>Nombre Usuario</span></a> -->



    <!-- 
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="(auth.datosUsuario | async)">
        <span>{{this.datosUsuarioActual?.displayName}}</span>
        <mat-icon></mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>
 -->



    <ng-template #showLogOut>
        <a><button mat-button (click)="onLogOut()">LogOut</button></a>
    </ng-template>



</mat-toolbar>