



a {
    color: #fff;
    text-decoration: none;
}



.fill-remaining-space {
    flex: 1 1 auto;
}


.nombre-usuario {
    margin-right: 1em;
}

.img-avatar {
    object-fit: cover;
    border-radius:50%;
    width: 30px;
    height: 30px;
  }

.img-logo {
  // object-fit: cover;
  // border-radius:50%;
  width: 62px;
  height: 38px;
  margin-right: 10px;
}

.logo {
  margin-right: 20px;
}

  .example-spacer {
    flex: 1 1 auto;
  }


  .active {
    color: #FFD834;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}