<mat-card>

    <mat-card-title>{{ 'Bienvenido' | translate }}</mat-card-title>

    <mat-card-content>

        <form [formGroup]="formRegistro" (ngSubmit)="registrarConEmail(formRegistro.value)">

            <p>
                <mat-form-field class="datos-login">
                    <mat-label>{{ 'Nombre' | translate }}</mat-label>
                    <input type="text" matInput formControlName="nombre" placeholder="{{ 'Ingrese su nombre, por favor' | translate }}">
                    <mat-error
                        *ngIf="formRegistro.controls['nombre'].hasError('pattern') && !formRegistro.controls['nombre'].hasError('required')">
                        {{ 'El nombre no puede contener números ni caractéres especiales' | translate }}</mat-error>
                    <mat-error *ngIf="formRegistro.controls['nombre'].hasError('required')">Es
                        <strong>{{ 'obligatorio' | translate }}</strong>{{ 'ingresar su nombre' | translate }}
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="datos-login">
                    <mat-label>{{ 'Apellido' | translate }}</mat-label>
                    <input type="text" matInput formControlName="apellido" placeholder="{{ 'Ingrese su apellido, por favor' | translate }}">
                    <mat-error
                        *ngIf="formRegistro.controls['apellido'].hasError('pattern') && !formRegistro.controls['apellido'].hasError('required')">
                        {{ 'El apellido no puede contener números ni caractéres especiales' | translate }}</mat-error>
                    <mat-error *ngIf="formRegistro.controls['apellido'].hasError('required')">Es
                        <strong>{{ 'obligatorio' | translate }} </strong> {{ 'ingresar su apellido' | translate }}
                    </mat-error>
                </mat-form-field>
            </p>


            <p>
                <mat-form-field class="datos-login">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ej. tito@uolsinectis.com.ar">
                    <mat-error
                        *ngIf="formRegistro.controls['email'].hasError('email') && !formRegistro.controls['email'].hasError('required')">
                        {{ 'Vas a necesitar ingresar tu email para iniciar sesión' | translate }}</mat-error>
                    <mat-error *ngIf="formRegistro.controls['email'].hasError('required')">{{ 'La dirección de email es' | translate }}
                        <strong>{{ 'obligatoria' | translate }}</strong>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="datos-login">
                    <mat-label>{{ 'Contraseña' | translate }}</mat-label>
                    <input [type]="ocultarPassword ? 'password': 'text'" matInput formControlName="password"
                        autocomplete="on">
                    <mat-icon matSuffix (click)="ocultarPassword = !ocultarPassword">
                        {{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="chips-imagenes" appearance="none" *ngIf="this.imagenes.length > 0">
                    <mat-chip-list>
                        <mat-chip *ngFor="let unaImagen of imagenes" (removed)="quitarFoto(unaImagen)">
                            {{unaImagen.texto}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-form-field>
            </p>


            <p>


                <button type="button" class="btn-login" mat-raised-button color="accent"
                    [disabled]="this.imagenes.length > 1" (click)="fileInput.click()">
                    <mat-icon class="icono-boton">photo</mat-icon>{{ 'Elegir fotos de perfil' | translate }}
                </button>
                <input hidden (change)="subirFoto($event)" #fileInput type="file" accept=".png, .jpg" id="file">

            </p>


            <div>
                <re-captcha name="captcha" required formControlName="captcha"
                    siteKey="6Lf3fQAaAAAAAByz1gtAp9jcdUOO6RXCuhaRsuOF" [disabled]="this.deshabilitarCaptcha"></re-captcha>
            </div>



            <br>

            <button type="button" mat-raised-button color="primary" class="btn-login"
                [disabled]="formRegistro.invalid" (click)="registrarConEmail(formRegistro.value)">{{ 'Registrarse' | translate }}</button>


        </form>


    </mat-card-content>


    <div class="toggle-captcha">
        <mat-slide-toggle checked (change)="deshabilitarCaptcha()">{{ 'Habilitar CAPTCHA' | translate }}</mat-slide-toggle>
    </div>






</mat-card>

