table {
    width: 100%;
  }
  
  th, td {
    padding: 10px !important;
  }
  
  mat-form-field {
    width: 40%;
  }
  
  .text-right {
    text-align: right !important;
  }


  .w-75{
    width: 75px;
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 20px;
}


.wrapper {
  height: 260px;
}
  