<div fxLayout="column" fxLayoutGap="2%" *ngIf="this.datosDiaSeleccionado?.length">

    <mat-card-header>
        <mat-card-title>Elegí un horario</mat-card-title>
    </mat-card-header>

    <div *ngFor="let datosUnProfesional of this.datosDiaSeleccionado">

        <mat-card *ngIf="datosUnProfesional?.horariosDisponibles.length > 0">

            <mat-card-subtitle class="detalles-turno">Horarios disponibles para
                {{this.datosUnProfesional?.diaSeleccionado | date:"EEEE d " | titlecase}} de
                {{this.datosUnProfesional?.diaSeleccionado  | date: " MMMM" | titlecase}} con
                <strong>{{this.datosUnProfesional?.profesionalSeleccionado.displayName}}</strong>
            </mat-card-subtitle>
    
            <mat-card-content>
    
                <div fxLayout fxLayoutGap="5%" fxLayoutAlign="center">
                    <div>
                        <button style="padding:5px; margin: 5px 5px;"
                            *ngFor="let unHorario of datosUnProfesional.horariosDisponibles" mat-stroked-button
                            color="primary" (click)="confirmarTurno(datosUnProfesional, unHorario)">{{unHorario}}</button>
                    </div>
                </div>
    
            </mat-card-content>
    
        </mat-card>

    </div>

</div>
