<div fxLayout="column" fxFlexFill class="full-height">

  <div>
    <app-toolbar></app-toolbar>
  </div>

  <div *ngIf="this.router.url != '/login' && this.router.url != '/registro-profesionales' && this.router.url != '/registro-pacientes'">
    <app-datos-usuario-bar></app-datos-usuario-bar>
  </div>


  <div fxFlex [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">


    <div>
      <ngx-spinner bdColor = "rgba(0, 15, 0, 0.6)" size = "medium" color = "#EAD032 " type = "line-scale-pulse-out" [fullScreen] = "true">
        
        <div>
          <img class="img-logo" src="/assets/fra2.png">
        </div>
        
        <div>
          <p class="txt-cargando">{{'Cargando...' | translate}}</p>
        </div>

        
      </ngx-spinner>
    </div> 
    
      



    <router-outlet #o="outlet"></router-outlet>
</div>

</div>
