<div class="contenedor-selector-dias">
    
    <mat-card-header>
        <mat-card-title>Elegí que día te queda mejor ({{this.especialidadSeleccionada?.nombreEspecialidad}})</mat-card-title>
    </mat-card-header>
    
    <br>

    <mat-card *ngIf="this.proximasFechasTrabajables.length == 0">
        No hay profesionales para la especialidad que elegiste
    </mat-card>

    <mat-button-toggle-group *ngIf="this.proximasFechasTrabajables.length > 0">
        <mat-button-toggle *ngFor="let dia of this.proximasFechasTrabajables" (click)="seleccionarDia(dia)" [value]="dia">{{dia | date:"EEEE d " | titlecase}} de {{dia | date: " MMMM" | titlecase}}</mat-button-toggle>
    </mat-button-toggle-group>

</div>  
