// :host {
//     display: flex;
//     justify-content: center;
//     vertical-align: center;
//     // margin: 100px 0;
//     align-items: center;
  
// }


// .contenedor-principal {
//   height: 80vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }


.datos-login {
      width: 100%;
    }

// .btn-login {
// //   min-width: 300px;
// //   max-width: 300px;
// //   justify-content: center;
// width: 0%;
// }

// mat-card-title,
// mat-card-content {
//     display: flex;
//     justify-content: center;
// }


// .card-principal {
//     min-height: 50vh;
//     height: 50vh;
// }

// .card-content-principal {
//     height: 100%;
//     min-height: 100%;
// }



  


.check {

    position:relative;
    top:15px;
}

.card-titulo {
    font-size: 2em;
}


mat-card-content {
    min-height: 50vh !important;
}

mat-card {
    padding-bottom:  2em;
}


.toggle-captcha  {
    display: flex;
    align-items: center;
    justify-content: center;
}