<mat-card class="contenedor-principal" fxLayout="column">



    <mat-horizontal-stepper #stepper>

        <mat-step>

            <ng-template matStepLabel>Datos de la cuenta</ng-template>

            <mat-card-title>Bienvenidos</mat-card-title>

            <mat-card-content>

                <form [formGroup]="formRegistro" (ngSubmit)="registrarConEmail(formRegistro.value)" #form="ngForm">

                    <p>
                        <mat-form-field class="datos-login">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput formControlName="nombre"
                                placeholder="Ingrese su nombre, por favor">
                            <mat-error
                                *ngIf="formRegistro.controls['nombre'].hasError('pattern') && !formRegistro.controls['nombre'].hasError('required')">
                                El nombre no puede contener números ni caractéres especiales</mat-error>
                            <mat-error *ngIf="formRegistro.controls['nombre'].hasError('required')">Es
                                <strong>obligatorio</strong>ingresar su nombre</mat-error>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="datos-login">
                            <mat-label>Apellido</mat-label>
                            <input type="text" matInput formControlName="apellido"
                                placeholder="Ingrese su apellido, por favor">
                            <mat-error
                                *ngIf="formRegistro.controls['apellido'].hasError('pattern') && !formRegistro.controls['apellido'].hasError('required')">
                                El apellido no puede contener números ni caractéres especiales</mat-error>
                            <mat-error *ngIf="formRegistro.controls['apellido'].hasError('required')">Es
                                <strong>obligatorio</strong>ingresar su apellido</mat-error>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="datos-login">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="email"
                                placeholder="Ej. tito@uolsinectis.com.ar">
                            <mat-error
                                *ngIf="formRegistro.controls['email'].hasError('email') && !formRegistro.controls['email'].hasError('required')">
                                Vas a necesitar ingresar tu email para iniciar sesión</mat-error>
                            <mat-error *ngIf="formRegistro.controls['email'].hasError('required')">La dirección de email
                                es
                                <strong>obligatoria</strong></mat-error>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="datos-login">
                            <mat-label>Contraseña</mat-label>
                            <input [type]="ocultarPassword ? 'password': 'text'" matInput formControlName="password">
                            <mat-icon matSuffix (click)="ocultarPassword = !ocultarPassword">
                                {{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="datos-login">
                            <mat-label>Repetir contraseña</mat-label>
                            <input [type]="ocultarPassword ? 'password': 'text'" matInput formControlName="password">
                            <mat-icon matSuffix (click)="ocultarPassword = !ocultarPassword">
                                {{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </p>

                    <!-- [disabled]="formRegistro.invalid"  -->
                    <button type="button" mat-raised-button color="primary" class="btn-login"
                        matStepperNext>Siguiente</button>

                </form>

            </mat-card-content>


        </mat-step>


        <mat-step>
            <ng-template matStepLabel>Especialidades</ng-template>

            <mat-card-title>¿En que estás especializados?</mat-card-title>

            <br>
            <br>

            <mat-card-content>

                <form [formGroup]="formRegistro" (ngSubmit)="registrarConEmail(formRegistro.value)">


                    <div>

                        <app-multi-select-con-buscador [items]="this.espacialesString" #especialidadesControl>
                        </app-multi-select-con-buscador>

                    </div>

                    <br>
                    <br>

                    <app-mi-captcha formControlName="captcha"></app-mi-captcha>
                    <div *ngIf="formRegistro.get('captcha').hasError('invalid') && form.submitted">
                      Wrong answer...
                    </div>

                    <p>
                        <button type="button" mat-raised-button color="primary" class="btn-login"
                            matStepperNext>Siguiente</button>
                    </p>



                </form>

            </mat-card-content>





        </mat-step>


        <mat-step>
            <ng-template matStepLabel>Disponibilidad horaria</ng-template>

            <mat-card-title>Decinos tu disponibilidad para trabajar</mat-card-title>

            <br>

            <div fxLayout="column">


                <div fxLayout fxLayoutGap="5%" fxFlexAlign="center" *ngFor="let dia of horariosTrabajo">


                    <mat-checkbox fxFlexAlign="start" class="check" [(ngModel)]="dia.check" fxFlex="30%">
                        {{dia.nombreDia}}</mat-checkbox>

                    <mat-form-field appearance="fill" fxFlexAlign="center" fxFlex="30%">
                        <mat-label>Horario de incio</mat-label>
                        <mat-select [disabled]="!dia.check" [(ngModel)]="dia.horarioInicio">
                            <mat-option *ngFor="let horario of horariosApertura" [value]="horario">{{horario}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlexAlign="end" fxFlex="30%">
                        <mat-label>Horario de finalización</mat-label>
                        <mat-select [disabled]="!dia.check" [(ngModel)]="dia.horarioFin">
                            <mat-option *ngFor="let horario of horariosApertura" [value]="horario">{{horario}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>



                <br>

                
                <button fxFlexAlign="center" (click)="registrarConEmail(formRegistro.value)" mat-raised-button color="primary" class="btn-login"
                [disabled]="formRegistro.invalid">Registrarse</button>


            </div>




        </mat-step>


    </mat-horizontal-stepper>

</mat-card>