<div fxLayout="row" fxLayoutAlign="center start" fxFlexFill>

    <!-- De aca regulamos el ancho total del form para todas las cards -->
    <form [formGroup]="formRegistro" (ngSubmit)="registrarConEmail(formRegistro.value)" #form>

        <mat-horizontal-stepper fxFlexFill [linear]="true" #stepper>

            <mat-step  [stepControl]="this.formRegistro">
                <ng-template matStepLabel>Datos de la cuenta</ng-template>



                <mat-card fxLayout="column" fxFlexFill fxLayoutAlign="center center" class="card-principal">

                    <mat-card-title fxFlexAlign="center" class="card-titulo">Bienvenidos</mat-card-title>


                    <mat-card-content fxFlexFill fxLayout="row" fxLayoutAlign="center">

                        <!-- desde aca agrandamos el ancho de los campos -->

                        <div fxFlex="80%">

                            <div>
                                <mat-form-field class="datos-login">
                                    <mat-label>Nombre</mat-label>
                                    <input type="text" matInput formControlName="nombre"
                                        placeholder="Ingrese su nombre, por favor">
                                    <mat-error
                                        *ngIf="formRegistro.controls['nombre'].hasError('pattern') && !formRegistro.controls['nombre'].hasError('required')">
                                        El nombre no puede contener números ni caractéres especiales</mat-error>
                                    <mat-error *ngIf="formRegistro.controls['nombre'].hasError('required')">Es
                                        <strong>obligatorio</strong>ingresar su nombre
                                    </mat-error>
                                </mat-form-field>
                            </div>


                            <div>
                                <mat-form-field class="datos-login">
                                    <mat-label>Apellido</mat-label>
                                    <input type="text" matInput formControlName="apellido"
                                        placeholder="Ingrese su apellido, por favor">
                                    <mat-error
                                        *ngIf="formRegistro.controls['apellido'].hasError('pattern') && !formRegistro.controls['apellido'].hasError('required')">
                                        El apellido no puede contener números ni caractéres especiales</mat-error>
                                    <mat-error *ngIf="formRegistro.controls['apellido'].hasError('required')">Es
                                        <strong>obligatorio</strong>ingresar su apellido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="datos-login">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput formControlName="email"
                                        placeholder="Ej. tito@uolsinectis.com.ar">
                                    <mat-error
                                        *ngIf="formRegistro.controls['email'].hasError('email') && !formRegistro.controls['email'].hasError('required')">
                                        Vas a necesitar ingresar tu email para iniciar sesión</mat-error>
                                    <mat-error *ngIf="formRegistro.controls['email'].hasError('required')">La
                                        dirección
                                        de email es <strong>obligatoria</strong></mat-error>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="datos-login">
                                    <mat-label>Contraseña</mat-label>
                                    <input [type]="ocultarPassword ? 'password': 'text'" matInput
                                        formControlName="password">
                                    <mat-icon matSuffix (click)="ocultarPassword = !ocultarPassword">
                                        {{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="datos-login">
                                    <mat-label>Repetir contraseña</mat-label>
                                    <input [type]="ocultarPassword ? 'password': 'text'" matInput
                                        formControlName="password">
                                    <mat-icon matSuffix (click)="ocultarPassword = !ocultarPassword">
                                        {{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </mat-form-field>
                            </div>

                            <div>
                                <app-mi-captcha required formControlName="captcha"></app-mi-captcha>
                                <div
                                    *ngIf="formRegistro.get('captcha')?.hasError('invalid') && formRegistro.get('captcha')?.dirty">
                                    <mat-error>Respuesta equivocada</mat-error>
                                </div>
                            </div>

                            <br>

                            <div class="toggle-captcha">
                                <mat-slide-toggle (change)="deshabilitarCaptcha()" checked>Habilitar CAPTCHA</mat-slide-toggle>
                            </div>

                        </div>


                    </mat-card-content>


                    <mat-card-footer fxFlexFill fxLayout="row" fxLayoutAlign="center">

                        <button fxFlex="50%" type="button" mat-raised-button color="primary" class="btn-login"
                            matStepperNext [disabled]="formRegistro.invalid">Siguiente</button>

                    </mat-card-footer>


                </mat-card>

            </mat-step>


            <mat-step fxFlexFill>
                <ng-template matStepLabel>Especialidades</ng-template>

                <br>

                <mat-card fxLayout="column" fxFlexFill fxLayoutAlign="center center" class="card-principal">

                    <mat-card-title fxFlexAlign="center" class="card-titulo">¿En que estás especializado?
                    </mat-card-title>

                    <br>


                    <mat-card-content fxFlexFill fxLayout="row" fxLayoutAlign="center">

                        <!-- desde aca agrandamos el ancho de los campos -->

                        <div fxFlex="50%">
                            <app-multi-select-con-buscador [items]="this.espacialesString" #especialidadesControl>
                            </app-multi-select-con-buscador>
                        </div>

                    </mat-card-content>


                    <mat-card-footer fxFlexFill fxLayout="row" fxLayoutAlign="center">

                        <button fxFlex="50%" type="button" mat-raised-button color="primary" class="btn-login"
                            matStepperNext [disabled]="!this.especialidadesControl.selectControl?.value?.length">Siguiente</button>

                    </mat-card-footer>


                </mat-card>

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Disponibilidad horaria</ng-template>

                <br>

                <mat-card fxLayout="column" fxFlexFill fxLayoutAlign="center center" class="card-principal">

                    <mat-card-title fxFlexAlign="center" class="card-titulo">Decinos tu disponibilidad para trabajar
                    </mat-card-title>

                    <br>

                    <mat-card-content fxFlexFill fxLayout="row" fxLayoutAlign="center">

                        <!-- desde aca agrandamos el ancho de los campos -->

                        <div fxFlex="95%">

                            <br>

                            <div fxLayout="row" fxLayoutGap="auto" *ngFor="let dia of horariosTrabajo">

                                <div fxFlex="20%" fxFlexAlign="start">
                                    <mat-checkbox fxFlexAlign="start" class="check" [(ngModel)]="dia.check"
                                        [ngModelOptions]="{standalone: true}">
                                        {{dia.nombreDia}}</mat-checkbox>
                                </div>

                                <div fxFlex="30%" fxFlexAlign="center">
                                    <mat-form-field appearance="outline" style="height:60px; width: 100%;">
                                        <mat-label>Horario de incio</mat-label>
                                        <mat-select [disabled]="!dia.check" [(ngModel)]="dia.horarioInicio"
                                            [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let horario of horariosApertura;" [value]="horario">
                                                {{horario}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                
                                
                                <div fxFlex="40%" fxFlexAlign="end">
                                    <mat-form-field appearance="outline" style="height:60px; width: 100%;">
                                        <mat-label>Horario de finalización</mat-label>
                                        <mat-select [disabled]="!(dia.check && dia.horarioInicio)" [(ngModel)]="dia.horarioFin"
                                            [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let horario of horariosApertura | slice: horariosApertura.indexOf(dia.horarioInicio) + 1" [value]="horario">
                                                {{horario}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>


                            </div>



                        </div>


                    </mat-card-content>


                    <mat-card-footer fxFlexFill fxLayout="row" fxLayoutAlign="center">

                        <button fxFlex="50%" type="button" mat-raised-button color="primary" class="btn-login"
                            matStepperNext [disabled]="this.validarHorarios()" (click)="registrarConEmail(formRegistro.value)">Siguiente</button>

                    </mat-card-footer>


                </mat-card>

            </mat-step>


        </mat-horizontal-stepper>


    </form>




</div>