.turno-cancelado {
    color: #F44336;
    font-weight: bold;
  }

  .turno-confirmado {
    color: #3BAF55;
    font-weight: bold;
  }

  .turno-pendiente-confirmacion {
    color: #FFC925;
    font-weight: bold;
  }

  .turno-finalizado {
    color: #17A2B8;
    font-weight: bold;
  }

  .turno-atendiendo {
    color: #007BFF;
    font-weight: bold;
  }

  .turno-suspendido {
    color: #8E959B;
    font-weight: bold;
  }

  
  .txtBuscador {
    font-size: 14px;
    width: 100%;
  }

  .alinear-centro {
    display:flex !important;
    justify-content: center !important;
  }
  

  .mat-table{
      background-color: rgba(255, 255, 255, 0.959);
      height : auto;
      overflow: auto;   
      width: 100%;
  }
  .mat-header-cell, .mat-cell {
      min-width: 150px;
  }

  .mat-form-field-underline{
      background-color:transparent;
  }

  .mat-header-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    background-color: #585191 ;
    // border-style: solid;
    color: white !important;
}

.mat-row:hover {
  background-color: #e8f5e9;
}
  
.sin-datos {
  font-size: 16px;
  text-align: center;
  color:#8BC34A;
}

.mat-row-sin-datos {
  display: flex;
  justify-content: center;
}

.icono {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  color:#8BC34A;
  // left: 10px;
}

/* #region  Esto arregla cuando se romple el formato de la tabla al ser tan larga */

.mat-header-row{
  width: fit-content !important;
}
.mat-row{
  width: fit-content !important;
}


/* #endregion */