<div class="container" fxLayout="column" fxFlexFill>

  
    <div fxFlex style="margin-bottom: 20px;">
  
  
        <mat-tab-group>
  
          <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">account_circle</mat-icon>
                  {{ 'Profesionales' | translate }}
              </ng-template>
              <app-listado-usuarios [tipoFiltro]="Roles.Profesional"></app-listado-usuarios>
          </mat-tab>
  
            
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon color-pendiente">supervised_user_circle</mat-icon>
                    {{ 'Pacientes' | translate }}
                </ng-template>
                <app-listado-usuarios [tipoFiltro]="Roles.Paciente"></app-listado-usuarios>
            </mat-tab>
  
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">admin_panel_settings</mat-icon>
                    {{ 'Administradores' | translate }}
                </ng-template>
                <app-listado-usuarios [tipoFiltro]="Roles.Administrador"></app-listado-usuarios>
            </mat-tab>
  
        </mat-tab-group>
  
    </div>
  
  </div>



  
  
  
