<div fxLayout="column">

    <div fxFlex style="margin-bottom: 20px;" fxLayout="row" fxLayoutGap="20px">

        <div fxFlex="50%">
            <app-listado-profesionales-por-especialidad [datos]="datosInforme" [tituloListado]="this.tituloInforme"></app-listado-profesionales-por-especialidad>
            <br>
            <mat-checkbox class="check-ocultar-valores-cero" [(ngModel)]="ocultarDatosCero" (change)="this.traerDatos()">{{'Ocultar datos con valor 0 (cero)' | translate}}</mat-checkbox>
            <br>
            <br>
            <mat-divider></mat-divider>
        </div>

        <div fxFlex="50%">
            <app-widget-general [datos]="datosInforme" [tituloGrafico]="this.tituloInforme" [graficoSeleccionado]="TipoGrafico.Tartas"></app-widget-general>
        </div>
        
    </div>

</div>


