<div class="container">

    <mat-horizontal-stepper linear #stepper>

        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">

            <ng-template matStepLabel>Elegir {{tipoBusqueda}}</ng-template>

            <form [formGroup]="firstFormGroup" fxLayout="row" fxLayoutAlign="center">

                <div fxFlex="50%">
                    <app-listado-seleccion-turno (profesionalSeleccionado)="seleccionarProfesional($event)"
                        (especialidadSeleccionada)="seleccionarEspecialidad($event)"
                        (cambioTipoBusqueda)="cambiarTipoBusqueda($event)"></app-listado-seleccion-turno>
                </div>

            </form>

        </mat-step>


        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <ng-template matStepLabel>Seleccionar día del turno</ng-template>

            <form [formGroup]="secondFormGroup" fxLayout="column" fxLayoutAlign="center">

                <mat-card fxLayout="column">    

                    <br>

                    <div fxLayout="row" fxLayoutAlign="center center">

                        <app-selector-dias fxFlexAlign="center" fxFlex="50%" [tipoBusqueda]="this.tipoBusqueda"
                            [profesionalSeleccionado]="this.profesionalSeleccionado"
                            [especialidadSeleccionada]="this.especialidadSeleccionada"
                            (CambioDia)="mostrarHorarios($event)">
                        </app-selector-dias>

                    </div>

                    <br>

                    <div fxLayout="row" fxLayoutAlign="center">
                        <app-selector-horarios fxFlex="50%" [datosDiaSeleccionado]="datosDiaSeleccionado"
                            [tipoBusqueda]="tipoBusqueda" (horarioSeleccionado)="this.seleccionarHorario($event)">
                        </app-selector-horarios>
                    </div>

                </mat-card>

            </form>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Confirmación del turno</ng-template>

            <br>
            
            <div>
                <app-confirmacion-solicitud-turno [datosTurnoConfirmado]="this.datosTurnoConfirmado"
                    (turnoConfirmado)="confirmarTurno()"></app-confirmacion-solicitud-turno>
            </div>

        </mat-step>



    </mat-horizontal-stepper>
</div>